<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>acciones.Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenVideojuego</servlet-name>
        <servlet-class>acciones.ObtenVideojuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregaVideojuego</servlet-name>
        <servlet-class>acciones.AgregaVideojuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenVideojuegos</servlet-name>
        <servlet-class>acciones.ObtenVideojuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarVideojuego</servlet-name>
        <servlet-class>acciones.ActualizarVideojuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarVideojuego</servlet-name>
        <servlet-class>acciones.EliminarVideojuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarCliente</servlet-name>
        <servlet-class>acciones.AgregarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenClientes</servlet-name>
        <servlet-class>acciones.ObtenClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenCliente</servlet-name>
        <servlet-class>acciones.ObtenCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inventariarVideojuego</servlet-name>
        <servlet-class>acciones.InventariarVideojuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenInventarioVideojuegos</servlet-name>
        <servlet-class>acciones.ObtenInventarioVideojuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>desinventariarVideojuego</servlet-name>
        <servlet-class>acciones.DesinventariarVideojuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rentarVideojuego</servlet-name>
        <servlet-class>acciones.RentarVideojuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenRentasVideojuegos</servlet-name>
        <servlet-class>acciones.ObtenRentasVideojuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>devolverVideojuego</servlet-name>
        <servlet-class>acciones.DevolverVideojuego</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenVideojuego</servlet-name>
        <url-pattern>/obtenVideojuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregaVideojuego</servlet-name>
        <url-pattern>/agregaVideojuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenVideojuegos</servlet-name>
        <url-pattern>/obtenVideojuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarVideojuego</servlet-name>
        <url-pattern>/actualizarVideojuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarVideojuego</servlet-name>
        <url-pattern>/eliminarVideojuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarCliente</servlet-name>
        <url-pattern>/agregarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenClientes</servlet-name>
        <url-pattern>/obtenClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenCliente</servlet-name>
        <url-pattern>/obtenCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventariarVideojuego</servlet-name>
        <url-pattern>/inventariarVideojuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenInventarioVideojuegos</servlet-name>
        <url-pattern>/obtenInventarioVideojuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>desinventariarVideojuego</servlet-name>
        <url-pattern>/desinventariarVideojuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rentarVideojuego</servlet-name>
        <url-pattern>/rentarVideojuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenRentasVideojuegos</servlet-name>
        <url-pattern>/obtenRentasVideojuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>devolverVideojuego</servlet-name>
        <url-pattern>/devolverVideojuego</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>iniciarSesion.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
